{% extends "roster/base.html" %}

{% block content %}
<div class="noprint">
<form method="get" action=".">
<table id="email_list">
    {{ form }}
</table>
<tr>
    <td colspan="2"><input type="submit" value="Generate" /></td>
</tr>
</form>
</div>

{% if results %}
{# results.query }}<br />#}<br />
<textarea readonly="true" cols="50" rows="20">
{% for result in results %}{{ result.person.render_normal }} &lt;{{ result.email.email }}&gt;{% if not forloop.last %}{{ separator }}
{% endif %}{% endfor %}
</textarea>
<p>Click text box, type Ctrl-A, Ctrl-C to copy to clipboard.</p>
{% else %}
<p>No results.</p>
{% endif %}

{% endblock %}
