{% extends "roster/base.html" %}

{% block content %}

<p><a href="{% url registration %}">Registration Form</a></p>

<p>Team Reports:</p>
<ul>
    <li><a href="{% url email_list %}">Team Email List</a></li>
    <li><a href="{% url phone_list %}">Team Phone List</a></li>
    <li><a href="{% url contact_list %}">Team Contact List</a></li>
    <li><a href="{% url tshirt_list %}">T-Shirt List</a></li>
    <li><a href="{% url hours_list %}">Hours List</a></li>
    <li><a href="{% url badges %}">Badge Generation</a></li>
</ul>

<p>Event Reports:</p>
<ul>
    <li><a href="{% url event_email_list %}">Event Email List</a></li>
</ul>

<p>Yearly Reports:</p>
<ul>
    <li><a href="{% url team_reg_verify %}">Team Registration Verification</a></li>
</ul>

<p>Admin Reports:</p>
<ul>
    <li><a href="{% url class_team_list %}">Team Membership by Class</a></li>
</ul>

<p>Yearly Actions:</p>
<ul>
    <li><a href="{% url new_year %}">Reset Team Membership for New Year</a></li>
</ul>
{% endblock %}
