{% extends "roster/base.html" %}

{% block content %}
<form method="get" action=".">
<table id="team_membership">
    {{ form }}
</table>
<tr>
    <td colspan="2"><input type="submit" value="Generate" /></td>
</tr>
</form>

{# {{ results.query }}<br /> #}

{% if final_results %}
<br/>
<table border="0">
    <tr>
	<td>Name</td>
	<td>Role</td>
    </tr>
    {% for result in final_results %}
    <tr>
	{% if result.role == "Student" %}
	<td><a href="/admin/roster/student/{{ result.id }}/">{{ result.name }}</a></td>
	{% else %}
	<td><a href="/admin/roster/adult/{{ result.id }}/">{{ result.name }}</a></td>
	{% endif %}
	<td>{{ result.role }}</td>
    </tr>
    {% endfor %}
</table>
{% else %}
<p>No results.</p>
{% endif %}

{% endblock %}
